<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="OpenRDFInput"
   iconfile="logo.png"
   description="openRDF Input"
   tooltip="Read information from an an openRDF repository"
   category="Big Data"
   classname="com.google.code.kettle.openrdf.di.OpenRDFStepMeta">
   <libraries>
      <library name="OpenRDFInput.jar"/>
   </libraries>
</plugin>